
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

.container {
  display: flex;
  overflow: hidden;
}

.page {
  flex: 0 0 100%;
  scroll-snap-align: start;
}

canvas {
  position: absolute;
  z-index: 1;
  border: 1px solid #000;
}
